
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.page_title_container {
    margin: 50px 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    color: #00A3E1;
    padding-bottom: 10px;
}

.icon {
    float: right;
    font-size: 38px;
    line-height: 1em;
}


.page_title_container h2 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-family: "Playfair Display", serif;
    position: relative;
    display: inline-block;
    line-height: 1em;

    overflow: hidden;
}





