* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    position: relative;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.intro:after {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .3);
}


.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #2C2D2F url('../../img/road.jpg') no-repeat center center;
    background-size: cover;
}

.video_media {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;


    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}


.content {
    margin-left: 200px;
    text-align: center;
    z-index: 3;
}

@media screen and (max-width: 767px) {
    .content {
        margin-left: 0;
    }
}

.content h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 62px;
    font-weight: 500;
    color: #fff;
    /*margin-bottom: 20px !important;*/
    font-family: "Playfair Display", serif;
}

.content h1 span {
    font-weight: 900;
    color: #00A3E1;
}

@media screen and (max-width: 767px) {
    .content h1 {
        font-size: 50px;
    }
}


.content p{
    margin-bottom: 1rem;
    font-size: 28px;
}

.content p span {
    font-weight: 300;
    /*display: inline-block;*/
    /*padding: .2em 0;*/
}

.content p b {
    font-weight: 700;
    border-bottom:  2px solid #00A3E1;

}

@media screen and (max-width: 767px) {
    .content p {
        font-size: 22px;
    }
}