* {
    box-sizing: border-box;
}

.resume_container {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    min-height: 100%;
    background-color: #2C2D2F;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;



}

@media screen and (max-width: 767px) {
    .resume_container {
        padding-top: 50px;
        padding-bottom: 34px;
        width: 100%;
        left: 0;
    }
}

h3 {
    margin-bottom: 20px !important;
    font-size: 24px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}


.content_container {
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;
}



