
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.subheader {
  position: relative;
  /*margin-bottom: 50px;*/
  text-align: center;

  & .h3 {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: .5px;
    position: relative;
    text-transform: uppercase;
    padding: 5px 10px;
    //border-bottom: 2px solid $mainColor;
    font-family: "Playfair Display", serif;

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    &:before, &:after {
      position: absolute;
      content: "";
      width: 2px;
      height: 5px;
      bottom: 0;
      //background-color: $mainColor;
    }
  }


}