@import '../../common/styles/sass/variables';

* {
  box-sizing: border-box !important;
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.contact_container {
  //for page transition animation library
  height: 100vh;

  position: absolute;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  min-height: 100%;
  background-color: #2C2D2F;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;

  @media screen and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 34px;
    width: 100%;
    left: 0;
  }

  .content_container {
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;

    .main_wrapper {
      /*margin-bottom: 70px;*/
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      .form_wrapper {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;




        #contact_form {
          width: 680px;
          height: 380px;
          /*background-color: red;*/

          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-bottom: 3%;

          @media screen and (max-width: 890px) {
            width: 100%;
          }

          @media screen and (max-width: 650px) {
            width: 100%;
          }

          .fields_wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;

            .name_and_email_wrapper {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              /*background-color: #00a3e1;*/
              /*margin-bottom: 50px;*/

              @media screen and (max-width: 650px) {
                /*flex-wrap: wrap;*/
                flex-direction: column;
              }

              .name_wrapper {

                @media screen and (max-width: 890px) {
                  width: 100%;
                }

                @media screen and (max-width: 650px) {

                  width: 100%;
                  margin-bottom: 5%;
                }

                #name {
                  width: 325px;
                  color: white;
                  border: 2px solid #999;
                  padding-top: 3%;
                  padding-bottom: 3%;
                  padding-left: 5%;
                  background-color: transparent;
                  font-size: 18px;
                  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

                  @media screen and (max-width: 890px) {
                    width: 90%;
                  }
                  @media screen and (max-width: 650px) {
                    width: 100%;
                  }

                  &:focus, &:active {
                    border: 2px solid white;
                  }
                }
              }

              .email_wrapper {

                @media screen and (max-width: 890px) {
                  width: 100%;
                }
                @media screen and (max-width: 650px) {
                  width: 100%;
                }

                #email {
                  @media screen and (max-width: 890px) {
                    width: 100%;
                  }
                  @media screen and (max-width: 650px) {
                    width: 100%;
                  }
                  width: 325px;
                  color: white;
                  border: 2px solid #999;
                  padding-top: 3%;
                  padding-bottom: 3%;
                  padding-left: 5%;
                  background-color: transparent;
                  font-size: 18px;
                  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

                  &:focus, &:active {
                    border: 2px solid white;
                  }
                }
              }

            }

            .message_wrapper {
              width: 100%;
              height: 40%;
              display: flex;
              justify-content: center;
              align-items: center;
              /*background-color: #00a3e1;*/

              #message {
                color: white;
                resize: none;
                height: 100%;
                width: 100%;
                font-size: 18px;
                padding-top: 2%;
                padding-left: 2%;
                border: 2px solid #999;
                background-color: transparent;
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;

                &:focus, &:active {
                  border: 2px solid white;
                }

              }

            }

            #send_btn {
              border: 2px solid $mainColor;
              color: $mainColor;
              position: relative;

              &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                background-color: $mainColor;
                z-index: -1;
                transition: all 0.2s ease-in-out;

              }

              &:hover {

                &::after {
                  width: 100%;
                  height: 100%;
                  transition: all 0.3s ease-in-out 0s;
                  opacity: .3;
                }
              }
            }

          }


        }


        .contact_footer {
          width: 100%;
          /*background-color: red;*/
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          @media screen and (max-width: 650px) {
            flex-direction: column;
          }

          .link_wrapper {
            @media screen and (max-width: 650px) {
              /*margin: 5% 0;*/
              margin-bottom: 5%;
            }

            & span {
              display: flex;
              justify-content: center;

              & i {
                color: $mainColor;
                font-size: 32px;
                font-weight: 900;
              }
            }

            & h5 {
              margin-top: 5%;
              font-size: 20px;
              font-family: "Playfair Display", serif;
            }

          }


        }


      }

    }

  }


}







