* {
    box-sizing: border-box !important;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.contact_container {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    min-height: 100%;
    background-color: #2C2D2F;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;


}

@media screen and (max-width: 767px) {
    .contact_container {
        padding-top: 50px;
        padding-bottom: 34px;
        width: 100%;
        left: 0;
    }
}

h3 {
    /*margin-bottom: 20px !important;*/
    font-size: 24px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}


.content_container {
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;
}

.main_wrapper {
    /*margin-bottom: 70px;*/
    display: flex;

    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form_wrapper {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subheader {
    position: relative;
    /*margin-bottom: 50px;*/
    text-align: center;
}

.subheader h3 {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: .5px;
    position: relative;
    text-transform: uppercase;
    padding: 5px 10px;
    border-bottom: 2px solid #00A3E1;
}

.subheader h3:before {
    left: 0;
}

.subheader h3:after {
    right: 0;
}

.subheader h3:before, .subheader h3:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 5px;
    bottom: 0;
    background-color: #00A3E1;
}


#contact_form {
    width: 680px;
    height: 380px;
    /*background-color: red;*/

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.fields_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.name_and_email_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #00a3e1;*/
    /*margin-bottom: 50px;*/

}

#name {
    width: 325px;
    color: white;
    border: 2px solid #999;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    background-color: transparent;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#name:focus, #name:active {
    border: 2px solid white;
}

#email {
    width: 325px;
    color: white;
    border: 2px solid #999;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    background-color: transparent;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#email:focus, #email:active {
    border: 2px solid white;
}


.message_wrapper {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #00a3e1;*/
}

#message {
    color: white;
    resize: none;
    height: 100%;
    width: 100%;
    font-size: 18px;
    padding-top: 2%;
    padding-left: 2%;
    border: 2px solid #999;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

#message:focus, #message:active {
    border: 2px solid white;
}

#send_btn {
    border: 2px solid #00a3e1;
    color: #00a3e1;
}

@media screen and (max-width: 890px) {
    #contact_form {
        width: 100%;
    }

    .name_and_email_wrapper {
        /*flex-wrap: wrap;*/
        /*flex-direction: column;*/

    }

    .name_wrapper {
        width: 100%;
    }

    .email_wrapper {
        width: 100%;
    }

    #name {
        width: 90%;
    }

    #email {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    #contact_form {
        width: 100%;
    }

    .name_and_email_wrapper {
        /*flex-wrap: wrap;*/
        flex-direction: column;

    }

    .name_wrapper {
        width: 100%;
        margin-bottom: 5%;
    }

    .email_wrapper {
        width: 100%;
    }

    #name {
        width: 100%;
    }

    #email {
        width: 100%;
    }
}

.contact_footer {
    width: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.link_wrapper span {
    display: flex;
    justify-content: center;
}

.contact_footer i {
    color: #00A3E1;
    font-size: 32px;
    font-weight: 900;
}

.contact_footer h5 {
    margin-top: 5%;
    font-size: 20px;
    font-family: "Playfair Display", serif;
}

@media screen and (max-width: 650px) {
    .contact_footer{
        flex-direction: column;
    }
    .link_wrapper{
        /*margin: 5% 0;*/
        margin-bottom: 5%;
    }



}
