
* {
    box-sizing: border-box;
}

.theme_toggle_container {
    width: 180px;
    position: fixed;
    right: -180px;
    top: 10%;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    transition: all .5s ease;
    z-index: 1000;
    overflow: visible;
}

.theme_toggle_container__displayed {
    right: 0;
}


.toggle_button {
    position: absolute;
    top: -1px;
    left: -40px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-right: none;
    cursor: pointer;
    overflow: visible;
}


.toggle_button span i {
    font-size: 32px;
    color: #777;
    line-height: 38px;

    animation-name: settings;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    overflow: visible;

}

@keyframes settings {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.theme_menu {
    text-align: center;
    padding: 20px;
}

.theme_color h4 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222;
}

.theme_color ul {
    margin-top: 10px;
}

.theme_color ul li{
    display: inline-block;
    margin-right: 4%;
}

.theme_color ul li span {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.blue {
    background-color: #00A3E1;
}

.red {
    background-color: #E82A2A;
}

.green {
    background-color: #6ac045;
}

.orange {
    background-color: #D1A71D;
}

.pink {
    background-color: #FF1493;
}

.purple {
    background-color: #5078FF;
}