@mixin text($fontSize) {
  font-family: "Playfair Display", serif;
  font-size: $fontSize;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//@import './'
//@include text(16px)