
@import '../../common/styles/sass/variables';

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
}


.nav_container {
  /*padding-bottom: 17px;*/
  /*margin-right: -17px;*/

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #17181B;
  text-align: center;
  z-index: 999;
  border-right: 1px solid #202226;
  overflow: auto;
  /*overflow: hidden;*/
  @media screen and (max-width: 767px) {
    left: -200px;
    transition: all .3s ease-in-out;
  }

  /*.&:hover{*/
  /*    overflow: auto;*/
  /*}*/

  .img_wrapper {
    position: relative;
    /*background-color: #99d0fb;*/
    & .header {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      z-index: 1;
      padding: 5px 0;
      font-size: 20px;
      font-family: "Playfair Display", serif;
      white-space: nowrap;
      /*display: inline-block;*/
      @media screen and (max-width: 767px) {
        visibility: hidden;
      }

      &::before {
        //background-color: $mainColor;
        box-sizing: border-box;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .6;
        z-index: -1;
      }
    }

    & img {
      vertical-align: middle;
      border-style: none;
      width: 100%;
      height: auto;
      position: relative;
    }

  }


  .nav_menu {
    display: block;
    text-align: center;

    & ul li {
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-bottom: 1px solid #202226;
      text-align: left;


      .link {
        position: relative;
        display: block;
        line-height: 45px;
        padding-left: 70px;
        color: #777;


        & span {
          position: absolute;
          left: 40px;
          display: inline-block;
          font-size: 20px;
        }
      }

      .activeLink {
        color: #ffffff;
      }
    }
  }


  .nav_footer {
    margin-top: 2em;
    width: 100%;

    @media screen and (min-height: 610px) {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    & ul {
      text-align: center;
      margin-bottom: 10px;
      box-sizing: border-box;

      & li {
        display: inline-block;
        font-size: 18px;
        margin-right: 12px;

        & a {
          cursor: pointer;
          color: #777;
          transition: color .2s ease;
          background-color: transparent;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }

    .copyright {

      & p {
        font-size: 12px;
        color: #777;
        line-height: 1.65;
        margin-bottom: 1rem;
      }
    }

  }


}









