
* {
    box-sizing: border-box;
}

.aboutMe_container {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    min-height: 100%;
    background-color: #2C2D2F;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;

    padding-bottom: 34px;

}

@media screen and (max-width: 767px) {
    .aboutMe_container {
        padding-top: 50px;
        width: 100%;
        left: 0;
    }
}

h3 {
    margin-bottom: 20px !important;
    font-size: 24px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}


.content_container {
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;
}

.content_wrapper {
    margin-bottom: 70px !important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.main_content {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


@media (min-width: 992px) {
    .main_content {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}


p {
    line-height: 1.65;
}

.main_content > p {
    margin-bottom: 1rem;
}

.personal_information {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


@media (min-width: 992px) {
    .personal_information {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}


.title {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .5px;
    border-bottom: 2px solid #00A3E1;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    /*padding-bottom: 1px;*/
    color: #fff;
}

.value {
    line-height: 1em;
    font-size: 16px;
}

.signature{
    margin-top: 20px !important;
    width: 40%;

}

.signature img{
    width:100%;
    height: auto;
    vertical-align: middle;
}


@media screen and (max-width: 992px) {
    .signature {
        width: 50%;
    }
}
