
@import '../../common/styles/sass/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.aboutMe_container {
  //for page transition animation library
  height: 100vh;

  position: absolute;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  min-height: 100%;
  background-color: #2C2D2F;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;

  @media screen and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 34px;
    width: 100%;
    left: 0;
  }

  .content_container {
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;

    .content_wrapper {
      margin-bottom: 70px !important;
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;


      .main_content {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;

        @media (min-width: 992px) {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 66.66667%;
          -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
          max-width: 66.66667%;
        }

        & h3 {
          margin-bottom: 20px !important;
          font-size: 24px;
          font-weight: 700;
          font-family: "Playfair Display", serif;
        }

        & > p {
          line-height: 1.65;
          margin-bottom: 1rem;
          & a{
            line-height: 1.65;
            text-decoration: none;
            color: $mainColor;
            &:hover{
              border-bottom: 1px solid $mainColor;
            }
          }
        }
      }

      .personal_information {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;

        @media (min-width: 992px) {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 33.33333%;
          -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
          max-width: 33.33333%;
        }


        & h3 {
          margin-bottom: 20px !important;
          font-size: 24px;
          font-weight: 700;
          font-family: "Playfair Display", serif;
        }

        & ul li {
          margin-bottom: 10px;
          line-height: 1em;

          .title {
            font-family: "Playfair Display", serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: .5px;
            border-bottom: 2px solid $mainColor;
            margin-right: 10px;
            color: #fff;


            display: inline-block;
            padding-bottom: 2px;

            overflow: hidden;

          }

          .value {
            font-size: 16px;
            display: inline-block;
            /*overflow: hidden;*/
            padding-bottom: 3px;
          }
        }
      }
    }

    .signature {
      margin-top: 20px !important;
      width: 35%;

      @media screen and (max-width: 992px) {
        width: 50%;
      }

      & img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }

    }
  }
}


















